apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


# Each entry in this list must resolve to an existing
# resource definition in YAML.  These are the resource
# files that kustomize reads, modifies and emits as a
# YAML string, with resources separated by document
# markers ("---").
resources:
- resources/bondy-headless-svc.yaml
# - resources/bondy-ingress.yaml
- resources/bondy-internal-admin-api-svc.yaml
- resources/bondy-internal-api-gateway-svc.yaml
- resources/bondy-internal-wamp-svc.yaml
- resources/bondy-load-balancer.yaml
- resources/bondy-statefulset.yaml
- resources/bondy-storage-class.yaml


generatorOptions:
  disableNameSuffixHash: true
